
        <!DOCTYPE html>
        <html>
           <head>
              <title>Көлік тұрағын бақылау</title>
           </head>                                 
           <body>
              <p>Жалпы көлік тұрағының саны: 10</p>
              <img width="50%" src="{{ url_for('static', filename='first_detection.jpg') }}"
               alt="Табылған жалпы көлік тұрақтары."/> <br />
              <p>Босаған көлік тұрақтарының саны: 3</p>
              <img width="50%" src="{{ url_for('static', filename='last_detection.jpg') }}"
               alt="Табылған бос көлік тұрақтары."/> <br />
           </body>
        </html>