
        <!DOCTYPE html>
        <html>
           <head>
              <title>Parking space monitoring</title>
           </head>                                 
           <body>
              <p>Total number of parking spaces: 10</p>
              <img width="50%" src="{{ url_for('static', filename='first_detection.jpg') }}"
               alt="Total detected parking spaces."/> <br />
              <p>Current free parking space number: 3</p>
              <img width="50%" src="{{ url_for('static', filename='last_detection.jpg') }}"
               alt="Currently free parking spaces."/> <br />
           </body>
        </html>